body {
    background-position: center;
    background-color: silver;
    font-family: sans-serif;
}

.applicationtitle {
    font-size: 20px;
}

.jampreleace {
    font-size: 20px;
}

.table>tbody>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    text-align: center;
}

.title {
    line-height: 35px;
}

.main {
    background-color: white;
    font-size: 30px;
}

.main_icon {
  	display: block;
  	height: auto;
  	max-height: 100%;
  	max-width: 100%;
  	margin-top: 15px;
}

.index_icon {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100px;
    margin: auto;
}

.applink {
    display: block;
    height: auto;
    max-height: 100px;
    max-width: 100%;
    padding: 10px;
}

.googlelink {
    display: block;
    height: auto;
    max-height: 85px;
    max-width: 100%;
    padding: 10px;
}

.drop_menu {
  min-width: auto;
}

.releace {
    display: block !important;
}
.releace_y_m_d {
    display: none !important;
}

@media only screen and (max-width: 425px) {
    .releace {
        display: none !important;
    }
    .releace_y_m_d {
        display: block !important;
    }
}
