body {
  background-position: center;
  background-color: silver;
  font-family: sans-serif;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}

.icon-image {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100px;
  margin: auto;
}

