body {
  background-color: silver;
  font-family: sans-serif;
}

body .applicationtitle {
  font-size: 20px;
}

body .jampreleace {
  font-size: 20px;
}

body .table > tbody > tr > td,
body .table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}

body .title {
  line-height: 35px;
}

body .main {
  background-color: white;
  font-size: 30px;
}

@media only screen and (max-width: 375px) {
  body .title {
    line-height: 30px;
  }

  body .main {
    background-color: white;
    font-size: 25px;
  }
}

body .index_icon {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100px;
  margin: auto;
}

body .applink {
  max-height: 100px;
  max-width: 100%;
  padding: 10px;
}

body .googlelink {
  max-height: 85px;
  max-width: 100%;
  padding: 10px;
}

body .drop_menu {
  min-width: auto;
}

