body {
  background-position: center;
  background-color: silver;
}

.icon-image {
  display: block;
  height: auto;
  max-height: 175px;
  max-width: 100%;
  margin: 10px;
}

.main {
  background-color: white;
  font-size: 30px;
}

.applink {
  display: block;
  height: auto;
  max-height: 100px;
  max-width: 100%;
  padding: 10px;
}

.googlelink {
  display: block;
  height: auto;
  max-height: 85px;
  max-width: 100%;
  padding: 10px;
}

